section {
    margin-bottom: 140px;
    text-align: center;
}

.container {
    padding: 0 16px;
    max-width: 1170px;
    margin: 0 auto;

    &--users {
        display: grid;
        grid-template-columns: repeat(1fr auto);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
}

@media (min-width: 768px) {
	.container {
		padding-left: 32px;
		padding-right: 32px;

        &--users {
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 16px;
            grid-row-gap: 16px;
        }
	}
	.banner__item {
		padding-top: calc(60px + 89px);
		padding-bottom: 163px;
	}
}

@media (min-width: 1024px) {
	.container {
		padding-left: 60px;
		padding-right: 60px;

        &--users {
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 29px;
            grid-row-gap: 29px;
        }
	}
	.banner__item {
		padding-top: calc(60px + 164px);
	}
}

.footer__block {
    padding-top: 17px;
    padding-bottom: 17px;
    border-top: 1px solid #D0CFCF;
}

@media (min-width: 1200px) {
	.container {
		padding-left: 0px;
		padding-right: 0px;
	}
}